<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del movimiento</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/plantilla :: mainTransacciones"></section>
<br>
<section>
    <div class="container">
        <div class="card">
            <h4 class="card-title">Datos del movimiento</h4>
            <div class="card-body">
                <form id="customer-form" th:action="@{/guardarTransaccion}" method="post" th:object="${movimientoDinero}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="montoTransaccion">Monto Movimiento</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="montoTransaccion" id="montoTransaccion" th:field="*{montoTransaccion}" placeholder="Monto del movimiento"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('montoTransaccion')}" th:errors="*{montoTransaccion}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="concepto">Concepto movimiento</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="concepto" th:field="*{concepto}" id="concepto" placeholder="Concepto del movimiento"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('concepto')}" th:errors="*{concepto}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="empleado">Empleado</label>
                        <div class="col-sm-10">
                            <select th:field="*{empleado.id}" id="empleado" style="width:100%!important; height: 100%!important;" name="empleado">
                                <option value="0" selected>Empleado asociado</option>
                                <option th:each="empleado: ${empleados}"
                                        th:value="${empleado.id}"
                                        th:text="${empleado.nombreEmpleado}"
                                ></option>
                            </select>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('empleado')}" th:errors="*{empleado}"></div>
                    </div>
                    <button class="btn btn-dark" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/plantilla :: footer"></footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>