<!DOCTYPE html>
<html lang="en" xmlns:th="htttp://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del empleado</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/css-footer.css}">
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<section th:replace="layout/plantilla :: mainEmpleados"></section>
<br>
<section>
    <div class="container">
        <div class="card">
            <h4 class="card-title">Datos del Empleado</h4>
            <div class="card-body">
                <form id="customer-form" th:action="@{/guardar}" method="post" th:object="${empleado}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="nombreEmpleado">Nombre Completo</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="nombreEmpleado" id="nombreEmpleado" th:field="*{nombreEmpleado}" placeholder="Nombre Completo"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('nombreEmpleado')}" th:errors="*{nombreEmpleado}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="correoEmpleado">Correo</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="correoEmpleado" th:field="*{correoEmpleado}" id="correoEmpleado" placeholder="Correo Empleado"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('correoEmpleado')}" th:errors="*{correoEmpleado}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="username">Username</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="username" th:field="*{username}" id="username" placeholder="Nombre Usuario"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="password">Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="password" th:field="*{password}" id="password" placeholder="Password"/>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="empresa">Empresa</label>
                        <div class="col-sm-10">
                            <select th:field="*{empresa.idEmpresa}" id="empresa" style="width:100%!important; height: 100%!important;" name="empresa">
                                <option value="0" selected>Seleccione empresa asociada</option>
                                <option th:each="empresa: ${empresas}"
                                        th:value="${empresa.idEmpresa}"
                                        th:text="${empresa.nombreEmpresa}"
                                ></option>
                            </select>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="rol">Rol Empleado</label>
                        <div class="col-sm-10">
                            <select class="custom-select" style="width:100%!important; height: 100%!important;" id="rol" th:field="*{rol}" name="rol">
                                <option value="" selected>Seleccione el rol</option>
                                <option th:each="rol: ${T(enigmaDT.proyecto.thymeleaf.Entity.Rol).values()}"
                                        th:value="${rol}"
                                        th:text="${rol}">
                                </option>
                            </select>
                        </div>
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}"></div>
                    </div>
                    <button class="btn btn-dark" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="layout/plantilla :: footer"></footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>